<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lb.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.lb.model.Article" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="issue_date" property="issueDate" jdbcType="BIGINT" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="modify_date" property="modifyDate" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, type, summary, enable, content, author, issue_date, creator, create_date, 
    modifier, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bs_article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.lb.model.Article" >
    select 
    <include refid="Base_Column_List" />
    from bs_article
    <where>
	    <if test="title !=null  and title != '' ">  
	    	title like CONCAT('%',#{title},'%')
	    </if>
	    <if test="type !=null  and type != '' ">  
	    	and type=#{title}
	    </if>
	    <if test="enable !=null  and enable != '' ">  
	    	and enable=#{title}
	    </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bs_article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lb.model.Article" >
    insert into bs_article (id, title, type, 
      summary, enable, content, 
      author, issue_date, creator, 
      create_date, modifier, modify_date
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=BIGINT}, 
      #{summary,jdbcType=VARCHAR}, #{enable,jdbcType=BIT}, #{content,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{issueDate,jdbcType=BIGINT}, #{creator,jdbcType=BIGINT}, 
      #{createDate,jdbcType=BIGINT}, #{modifier,jdbcType=BIGINT}, #{modifyDate,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lb.model.Article" >
    insert into bs_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="issueDate != null" >
        issue_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="issueDate != null" >
        #{issueDate,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lb.model.Article" >
    update bs_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="issueDate != null" >
        issue_date = #{issueDate,jdbcType=BIGINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lb.model.Article" >
    update bs_article
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIGINT},
      summary = #{summary,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT},
      content = #{content,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      issue_date = #{issueDate,jdbcType=BIGINT},
      creator = #{creator,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_date = #{modifyDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>