<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lb.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.lb.model.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="BIGINT" />
    <result column="modify_date" property="modifyDate" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, enable, priority, remark, creator, modifier, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
  </select>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.lb.model.Role" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    <if test="name !=null  and name != '' ">  
    	where name like CONCAT('%',#{name},'%')
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lb.model.Role" >
    insert into sys_role (id, name, enable, priority,
      remark, creator, modifier, 
      create_date, modify_date)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{enable,jdbcType=BIT}, 
      #{priority,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR}, #{creator,jdbcType=BIGINT},
      #{modifier,jdbcType=BIGINT},#{createDate,jdbcType=BIGINT}, #{modifyDate,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lb.model.Role" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lb.model.Role" >
    update sys_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lb.model.Role" >
    update sys_role
    set name = #{name,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT},
      priority = #{priority,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=BIGINT},
      modify_date = #{modifyDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>